<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuting.mapper.TChatMsgMapper" >
  <resultMap id="BaseResultMap" type="com.jiuting.pojo.TChatMsg" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="send_user_id" property="sendUserId" jdbcType="VARCHAR" />
    <result column="receive_user_id" property="receiveUserId" jdbcType="VARCHAR" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="sign_flag" property="signFlag" jdbcType="INTEGER" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>