<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jiuting.mapper.TUserMapper" >
  <resultMap id="BaseResultMap" type="com.jiuting.pojo.TUser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="face-img" property="faceImg" jdbcType="VARCHAR" />
    <result column="face-img-big" property="faceImgBig" jdbcType="VARCHAR" />
    <result column="nick-name" property="nickName" jdbcType="VARCHAR" />
    <result column="qrcode" property="qrcode" jdbcType="VARCHAR" />
    <result column="cid" property="cid" jdbcType="VARCHAR" />
  </resultMap>
</mapper>